.wrapper {
  width: 100%;

  :global(.ant-card-body) {
    padding: 0;
  }

  .head {
    position: relative;

    :global(.ant-btn) {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

.form-label {
  margin-bottom: 12px;
}
